[phases.setup]
nixPkgs = ["nodejs_20", "php82", "php82Packages.composer"]

[phases.install]
cmds = [
    "npm install",
    "cd backend && composer install --no-dev --optimize-autoloader"
]

[phases.build]
cmds = [
    "npm run build",
    "cd backend && php artisan config:cache",
    "cd backend && php artisan route:cache",
    "cd backend && php artisan view:cache"
]

[start]
cmd = "npm run start"

